flows.json
[{"id":"38b53284.e0e7ce","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"67285ec1.29a4f","type":"websocket-listener","z":"","path":"/control","wholemsg":"false"},{"id":"6d7bdba0.178454","type":"websocket-listener","z":"","path":"/feed2","wholemsg":"false"},{"id":"b5eec0d5.b0e2a","type":"websocket-listener","z":"","path":"/feed_out","wholemsg":"true"},{"id":"2049da8a.1a9536","type":"mongodb2","z":"","uri":"mongodb://db:27017/myfacerecognitiondb","name":"mongo ex1","options":"","parallelism":"-1"},{"id":"1b6d3c09.c35b64","type":"mongodb2","name":""},{"id":"75773769.90a2d8","type":"websocket out","z":"38b53284.e0e7ce","name":"out control","server":"67285ec1.29a4f","client":"","x":1050,"y":400,"wires":[]},{"id":"59f260ef.f01b3","type":"base64","z":"38b53284.e0e7ce","name":"Encode","action":"str","property":"payload","x":380,"y":560,"wires":[["7c739983.5666f8"]]},{"id":"9d426f95.68c39","type":"websocket in","z":"38b53284.e0e7ce","name":"entry control","server":"67285ec1.29a4f","client":"","x":250,"y":280,"wires":[["20716bda.0b64a4"]]},{"id":"f7781090.9d7b5","type":"websocket in","z":"38b53284.e0e7ce","name":"entry feed","server":"6d7bdba0.178454","client":"","x":240,"y":560,"wires":[["59f260ef.f01b3"]]},{"id":"29038661.2484aa","type":"websocket out","z":"38b53284.e0e7ce","name":"out feed","server":"b5eec0d5.b0e2a","client":"","x":1020,"y":520,"wires":[]},{"id":"20716bda.0b64a4","type":"json","z":"38b53284.e0e7ce","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":280,"wires":[["942bce4.898cd3","b34a3573.403d28"]]},{"id":"b34a3573.403d28","type":"debug","z":"38b53284.e0e7ce","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":220,"wires":[]},{"id":"942bce4.898cd3","type":"switch","z":"38b53284.e0e7ce","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"hello","vt":"str"},{"t":"eq","v":"add_known","vt":"str"},{"t":"eq","v":"add_unknown","vt":"str"},{"t":"eq","v":"add","vt":"str"},{"t":"eq","v":"delete","vt":"str"},{"t":"eq","v":"update","vt":"str"},{"t":"eq","v":"size","vt":"str"},{"t":"eq","v":"feed","vt":"str"},{"t":"eq","v":"debug","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":10,"x":570,"y":280,"wires":[["bbb3c744.1228e8","743ddcdc.5ff874"],["bbb3c744.1228e8","f93b3a1b.353ac8"],["bbb3c744.1228e8","f93b3a1b.353ac8"],["bbb3c744.1228e8","8b283c80.15107"],["bbb3c744.1228e8","3da73b37.56ed94"],["bbb3c744.1228e8","6ae145ec.b7180c"],["bbb3c744.1228e8"],["bbb3c744.1228e8"],["bbb3c744.1228e8"],["83ee6aa5.17d478"]]},{"id":"f77fce3d.328d1","type":"debug","z":"38b53284.e0e7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":200,"wires":[]},{"id":"bbb3c744.1228e8","type":"change","z":"38b53284.e0e7ce","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":400,"wires":[["75773769.90a2d8"]]},{"id":"7c739983.5666f8","type":"change","z":"38b53284.e0e7ce","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"},{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":560,"wires":[["3df2d659.1202fa"]]},{"id":"f771b5f.194ba48","type":"msg-speed","z":"38b53284.e0e7ce","name":"","frequency":"sec","estimation":false,"ignore":true,"x":850,"y":520,"wires":[[],["29038661.2484aa"]]},{"id":"3df2d659.1202fa","type":"function","z":"38b53284.e0e7ce","name":"","func":"length = {}\nlength.payload = msg.payload.length/1024\nreturn [msg,length];","outputs":2,"noerr":0,"x":710,"y":560,"wires":[["f771b5f.194ba48"],["433851cc.24b04"]]},{"id":"433851cc.24b04","type":"debug","z":"38b53284.e0e7ce","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":850,"y":600,"wires":[]},{"id":"f93b3a1b.353ac8","type":"mongodb2 in","z":"38b53284.e0e7ce","service":"_ext_","configNode":"2049da8a.1a9536","name":"Visitors","collection":"visitor","operation":"insertOne","x":800,"y":200,"wires":[[]]},{"id":"83ee6aa5.17d478","type":"debug","z":"38b53284.e0e7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":440,"wires":[]},{"id":"9e9367cf.ce8278","type":"inject","z":"38b53284.e0e7ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":290,"y":80,"wires":[["a7ed9ae8.b3a268"]]},{"id":"d5fd3c8a.e2ef7","type":"mongodb2 in","z":"38b53284.e0e7ce","service":"_ext_","configNode":"2049da8a.1a9536","name":"Cameras","collection":"camera","operation":"createIndex","x":560,"y":80,"wires":[[]]},{"id":"a7ed9ae8.b3a268","type":"function","z":"38b53284.e0e7ce","name":"","func":"msg.payload = [{\"hostname\":1},{unique:true}];\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["d5fd3c8a.e2ef7"]]},{"id":"8b283c80.15107","type":"function","z":"38b53284.e0e7ce","name":"","func":"msg.filename = \"/data/camera/\" + msg.payload.id + \".\" + msg.payload.firstname + \"_\" + msg.payload.lastname + \".jpg\"\nmsg.payload = msg.payload.photo\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":260,"wires":[["f77fce3d.328d1","d48e9159.bdcd3"]]},{"id":"29d36162.d563ae","type":"file","z":"38b53284.e0e7ce","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1105,"y":261,"wires":[]},{"id":"3da73b37.56ed94","type":"function","z":"38b53284.e0e7ce","name":"","func":"msg.filename = \"/data/camera/\" + msg.payload.id + \".\" + msg.payload.firstname + \"_\" + msg.payload.lastname + \".jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":309,"wires":[["e760f44c.9c2698"]]},{"id":"e760f44c.9c2698","type":"file","z":"38b53284.e0e7ce","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":910,"y":309,"wires":[]},{"id":"ccc189cd.dcbdd8","type":"catch","z":"38b53284.e0e7ce","name":"","scope":null,"x":260,"y":140,"wires":[["6ed99f27.c6e5c"]]},{"id":"6ed99f27.c6e5c","type":"debug","z":"38b53284.e0e7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":400,"y":140,"wires":[]},{"id":"d48e9159.bdcd3","type":"base64","z":"38b53284.e0e7ce","name":"Encode","action":"","property":"payload","x":926,"y":260,"wires":[["29d36162.d563ae"]]},{"id":"6ae145ec.b7180c","type":"function","z":"38b53284.e0e7ce","name":"","func":"msg.filename = \"/data/camera/\" + msg.payload.id + \".\" + msg.payload.firstname + \"_\" + msg.payload.lastname + \".jpg\"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":360,"wires":[["f77fce3d.328d1"]]},{"id":"6fcc5da4.338144","type":"mongodb2 in","z":"38b53284.e0e7ce","service":"_ext_","configNode":"2049da8a.1a9536","name":"Cameras","collection":"","operation":"","x":920,"y":140,"wires":[[]]},{"id":"743ddcdc.5ff874","type":"function","z":"38b53284.e0e7ce","name":"","func":"var newMsg = {};\nnewMsg.collection = 'camera';\nnewMsg.operation  = 'findOneAndUpdate';\n\nnewMsg.payload = [\n  {\"hostname\":msg.payload.hostname},\n  {$set: \n    msg.payload},\n     { upsert: true}\n];\n//newMsg.payload    =  msg.payload\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["6fcc5da4.338144"]]}]