flows.json
[{"id":"38b53284.e0e7ce","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"67285ec1.29a4f","type":"websocket-listener","z":"","path":"/control","wholemsg":"false"},{"id":"6d7bdba0.178454","type":"websocket-listener","z":"","path":"/feed2","wholemsg":"false"},{"id":"b5eec0d5.b0e2a","type":"websocket-listener","z":"","path":"/feed_out","wholemsg":"true"},{"id":"2049da8a.1a9536","type":"mongodb2","z":"","uri":"mongodb://db:27017/myfacerecognitiondb","name":"mongo ex1","options":"","parallelism":"-1"},{"id":"82184aa9.f5d478","type":"websocket out","z":"38b53284.e0e7ce","name":"out control","server":"67285ec1.29a4f","client":"","x":910,"y":240,"wires":[]},{"id":"8ceb343a.e05558","type":"base64","z":"38b53284.e0e7ce","name":"Encode","action":"str","property":"payload","x":240,"y":460,"wires":[["33e6f109.d3fa3e"]]},{"id":"2407af75.c471b","type":"websocket in","z":"38b53284.e0e7ce","name":"entry control","server":"67285ec1.29a4f","client":"","x":110,"y":240,"wires":[["57cc63da.ffd0dc","16750c42.228db4"]]},{"id":"9e36f1f3.353de","type":"websocket in","z":"38b53284.e0e7ce","name":"entry feed","server":"6d7bdba0.178454","client":"","x":100,"y":460,"wires":[["8ceb343a.e05558"]]},{"id":"e01492d4.873f9","type":"websocket out","z":"38b53284.e0e7ce","name":"out feed","server":"b5eec0d5.b0e2a","client":"","x":880,"y":420,"wires":[]},{"id":"57cc63da.ffd0dc","type":"json","z":"38b53284.e0e7ce","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":240,"wires":[["83a627cf.4e4fa8","16750c42.228db4"]]},{"id":"16750c42.228db4","type":"debug","z":"38b53284.e0e7ce","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":360,"wires":[]},{"id":"83a627cf.4e4fa8","type":"switch","z":"38b53284.e0e7ce","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"hello","vt":"str"},{"t":"eq","v":"add_known","vt":"str"},{"t":"eq","v":"add_unknown","vt":"str"},{"t":"eq","v":"add","vt":"str"},{"t":"eq","v":"size","vt":"str"},{"t":"eq","v":"delete","vt":"str"},{"t":"eq","v":"feed","vt":"str"},{"t":"eq","v":"debug","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":9,"x":430,"y":240,"wires":[["743122cc.26875c","d037383d.e5af38"],["743122cc.26875c","dd28a9.caf62758"],["743122cc.26875c","dd28a9.caf62758"],["743122cc.26875c"],["743122cc.26875c"],["743122cc.26875c"],["743122cc.26875c"],["743122cc.26875c"],["f37e42ed.12528"]]},{"id":"76e5920a.9f330c","type":"debug","z":"38b53284.e0e7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":100,"wires":[]},{"id":"743122cc.26875c","type":"change","z":"38b53284.e0e7ce","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":240,"wires":[["82184aa9.f5d478"]]},{"id":"33e6f109.d3fa3e","type":"change","z":"38b53284.e0e7ce","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"},{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":460,"wires":[["ad023fd.c02f3c"]]},{"id":"d6b2be88.fc729","type":"msg-speed","z":"38b53284.e0e7ce","name":"","frequency":"sec","estimation":false,"ignore":true,"x":710,"y":420,"wires":[[],["e01492d4.873f9"]]},{"id":"ad023fd.c02f3c","type":"function","z":"38b53284.e0e7ce","name":"","func":"length = {}\nlength.payload = msg.payload.length/1024\nreturn [msg,length];","outputs":2,"noerr":0,"x":570,"y":460,"wires":[["d6b2be88.fc729"],["689e5c0b.e48504"]]},{"id":"689e5c0b.e48504","type":"debug","z":"38b53284.e0e7ce","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":710,"y":500,"wires":[]},{"id":"dd28a9.caf62758","type":"mongodb2 in","z":"38b53284.e0e7ce","service":"_ext_","configNode":"2049da8a.1a9536","name":"Visitors","collection":"visitor","operation":"insertOne","x":660,"y":160,"wires":[["76e5920a.9f330c"]]},{"id":"d037383d.e5af38","type":"mongodb2 in","z":"38b53284.e0e7ce","service":"_ext_","configNode":"2049da8a.1a9536","name":"Cameras","collection":"camera","operation":"insertOne","x":660,"y":100,"wires":[["76e5920a.9f330c"]]},{"id":"f37e42ed.12528","type":"debug","z":"38b53284.e0e7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":320,"wires":[]},{"id":"2ec085a7.5c7c4a","type":"inject","z":"38b53284.e0e7ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":40,"wires":[["12f3265d.c8686a"]]},{"id":"23ebcd25.cd1712","type":"mongodb2 in","z":"38b53284.e0e7ce","service":"_ext_","configNode":"2049da8a.1a9536","name":"Cameras","collection":"camera","operation":"createIndex","x":420,"y":40,"wires":[["bcdfe9e1.877788"]]},{"id":"bcdfe9e1.877788","type":"debug","z":"38b53284.e0e7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":40,"wires":[]},{"id":"12f3265d.c8686a","type":"function","z":"38b53284.e0e7ce","name":"","func":"msg.payload = [{\"hostname\":1},{unique:true}];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":40,"wires":[["23ebcd25.cd1712"]]}]
